# Rewrite engine for clean URLs
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /PBL_LabMMT/public/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
